#bod {
  height:100vh;
  display: flex;
  flex-direction: column;
}

#factbod {
    display: flex;
    flex-direction: column;
}

.section {
    margin:auto;
} 

.foot {
  margin-top: auto;
  position:absolute;
}