#bod {
  /* min-height: 100vh; */
  height:100vh;
  display: flex;
  flex-direction: column;
}

#factbod {
    display: flex;
    flex-direction: column;
    

}

.section {
    /* background-color:red; */
    margin:auto;
} 

.foot {
  /* margin-auto:100%; */
  margin-top: auto;
  position:absolute;
}